.main {
    background-color: #0e1117;
}

.block-container {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.dashboard-header {
    padding-bottom: 12px;
    border-bottom: 3px solid #d7263d;
    margin-bottom: 22px;
}

.dashboard-title {
    font-size: 40px;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 0;
}

.dashboard-subtitle {
    font-size: 17px;
    color: #b8beca;
}

.kpi-card {
    background: linear-gradient(180deg, #171d26 0%, #111827 100%);
    border: 1px solid #2b313b;
    border-radius: 18px;
    padding: 22px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 210px;

    transition: all .25s ease;
}

.kpi-card:hover{
    transform: translateY(-4px);
    border-color:#ef233c;
    box-shadow:0 8px 25px rgba(0,0,0,.35);
}

.kpi-icon{
    font-size:48px;
    margin-bottom:16px;
}

.kpi-label{
    color:#c5ccd8;
    font-size:14px;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:1px;
}

.kpi-value{
    color:white;
    font-size:54px;
    font-weight:800;
    line-height:1.05;

    margin-top:10px;
    margin-bottom:10px;
}

.kpi-note{
    color:#ef233c;
    font-size:18px;
    font-weight:600;
}

/* Hide default Streamlit top padding */
.block-container {
    padding-top: 1.2rem;
}

/* Sidebar styling */
section[data-testid="stSidebar"] {
    background: linear-gradient(180deg, #080c12, #0d1117);
    border-right: 1px solid #2b313b;
}

section[data-testid="stSidebar"] h1,
section[data-testid="stSidebar"] h2,
section[data-testid="stSidebar"] h3,
section[data-testid="stSidebar"] p {
    color: white;
}

.sidebar-title {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    color: white;
    margin-top: 10px;
}

.sidebar-subtitle {
    text-align: center;
    font-size: 16px;
    color: #c8ced8;
    margin-bottom: 25px;
}

.sidebar-nav-item {
    padding: 13px 16px;
    margin: 8px 0;
    border-radius: 10px;
    color: #d7dce5;
    font-size: 17px;
    border: 1px solid transparent;
}

.sidebar-nav-item-active {
    background-color: rgba(215, 38, 61, 0.18);
    border: 1px solid #d7263d;
    color: white;
}

.chart-card {
    background: #111827;
    border: 1px solid #2b313b;
    border-radius: 16px;
    padding: 18px;
    margin-bottom: 18px;
}

.chart-card-title {
    font-size: 22px;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 2px;
}

.chart-card-subtitle {
    font-size: 14px;
    color: #b8beca;
    margin-bottom: 10px;
}

.chart-card-footer {
    margin-top: 10px;
    padding: 10px 12px;
    border-radius: 10px;
    background: rgba(215, 38, 61, 0.18);
    border: 1px solid rgba(215, 38, 61, 0.55);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}